<table>
  <thead>
  <th>Year</th>
  <th>Investment Value</th>
  <th>Interest (Year)</th>
  <th>Total Interest</th>
  <th>Invested Capital</th>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>R100.00</td>
    <td>R200.00</td>
    <td>R300.00</td>
    <td>R400.00</td>
  </tr>
  <tr>
    <td>2</td>
    <td>R100.00</td>
    <td>R200.00</td>
    <td>R300.00</td>
    <td>R400.00</td>
  </tr>
  <tr>
    <td>3</td>
    <td>R100.00</td>
    <td>R200.00</td>
    <td>R300.00</td>
    <td>R400.00</td>
  </tr>
  </tbody>
</table>
